@media (max-width: 430px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
        
    }

    .header {
        height: 735px;

        &__header-box {

            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    .header-box {


        &_title {
            margin-top: 239px;
            margin-bottom: 33px;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: $color-text;
            max-width: 343px;
            text-align: center;
        }

        &_content {
            font-size: 14px;
            line-height: 22px;
            color: $color-text;
            max-width: 343px;
            margin-bottom: 33px;
            text-align: center;
        }

        &__buttons-box {
            max-width: 234px;
        }
    }

    .buttons-box {
        &_button {
            margin-bottom: 239px;
            transition: all .3s;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .nav {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(4, 1fr);
        height: 964px;

        &__game {
            max-width: 343px;
            height: 300px;
            transition: all .3s;
            position: relative;

            &_text {
                position: absolute;
                padding-bottom: 32px;
                padding-left: 16px;
                margin: 0;
            }
        }
    }
}